# =========================
# Profils Docker Compose
# =========================
# Activer "dev" en local pour inclure pgAdmin automatiquement avec `docker compose up`.
# Laisser vide en production pour exclure pgAdmin.
COMPOSE_PROFILES=dev

# =========================
# PostgreSQL database
# =========================
POSTGRES_USER=hellcase_admin
POSTGRES_PASSWORD=un_mot_de_passe_tres_securise
POSTGRES_DB=hellcase_db

# =========================
# pgAdmin (Environnement local uniquement)
# =========================
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin_dev_password

# =========================
# Cache Redis
# =========================
REDIS_PASSWORD=un_mot_de_passe_redis_tres_securise
REDIS_HOST=redis
REDIS_PORT=6379

# =========================
# Backend & Prisma
# =========================
# Caution : URL domain is "db" (not localhost) because Docker uses the service name to resolve the address.
DATABASE_URL=postgresql://hellcase_admin:un_mot_de_passe_tres_securise@db:5432/hellcase_db?schema=public
PORT=3000

# =========================
# Sécurité
# =========================
# cryptographic key for session tokens (to be generated randomly)
JWT_SECRET=change_cette_valeur_par_une_longue_chaine_aleatoire_en_production