# =========================
# Profils Docker Compose
# =========================
# Activer "dev" en local pour inclure pgAdmin automatiquement avec `docker compose up`.
# Laisser vide en production pour exclure pgAdmin.
COMPOSE_PROFILES=dev

# =========================
# PostgreSQL database
# =========================
POSTGRES_USER=hellcase_admin
POSTGRES_PASSWORD=a_really_secure_postgre_password
POSTGRES_DB=hellcase_db

# =========================
# pgAdmin (Environnement local uniquement)
# =========================
PGADMIN_EMAIL=admin_email
PGADMIN_PASSWORD=a_really_secure_pgadmin_password

# =========================
# Cache Redis
# =========================
REDIS_PASSWORD=a_really_secure_redis_password
REDIS_HOST=redis
REDIS_PORT=6379

# =========================
# Backend & Prisma
# =========================
# Caution : URL domain is "db" (not localhost) because Docker uses the service name to resolve the address.
DATABASE_URL=postgresql://hellcase_admin:a_really_secure_postgre_password@db:5432/hellcase_db?schema=public
PORT=3000

# =========================
# Sécurité
# =========================
# cryptographic key for session tokens (to be generated randomly)
JWT_SECRET=change_this_value_to_a_long_random_string_in_production